<!DOCUMENT html>
<html lang="en"><!--Always include lang="en"-->
    <head>
        <meta charset="utf-8"> <!--Always include <meta charset="utf-8"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1"><!--This Too-->
        
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Joey Bush</title>


    <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body ng-app="app" ng-controller="appCtrl">
    
        <!--<button id="dropdown">Social</button>
        <div id="social">
            <span style="font-size: 20px">Click social button to Close.</span>
            <ul>
                <li>
                    <a href="#">
                        <img id="icon" src="https://www.youtube.com/yt/brand/media/image/YouTube-icon-full_color.png">Youtube
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img id="icon" src="https://www.iconfinder.com/data/icons/iconza-circle-social/64/697029-twitter-512.png">Twitter
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img id="icon" src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/512/Reddit-icon.png">Reddit
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img id="icon" src="https://www.iconfinder.com/data/icons/social-flat-rounded-rects/512/facebook-256.png">Facebook
                    </a>
                </li>
            </ul>
        </div>-->
    
    <nav>
        <div id="nav0" ng-click="$scrollify.goTo(0)">
            <img src="profile.png">
        </div>
        <div id="nav1" class="skillsclick" ng-click="$scrollify.goTo(1)">
            <img src="skillsicon.png">
        </div>
        <div id="nav2" class="projectsclick" ng-click="$scrollify.goTo(2)">
            <img src="work%20icon.png">
        </div>
        <div id="nav3" class="contactclick"ng-click="$scrollify.goTo(3)">
            <img src="mail.png">
        </div>
    </nav>
    <div class="scrollify" hj-scrollify="pane in data.panes" j-scrollify-options="{id: 'myScrollify'}">
        <div class="content" style="background-color: {{pane.color}}" ng-click="$scrollify.goTo($index)">
            <div ng-bind-html="pane.html"></div>
        </div>
    </div>
    
    <script type="text/javascript" src="javascripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="javascripts/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/hamster.js"></script>
    <script type="text/javascript" src="javascripts/lethargy.js"></script>
    <script type="text/javascript" src="javascripts/hammer.js"></script>
    <script type="text/javascript" src="javascripts/angular-scrollify.js"></script>
    <script type="text/javascript" src="javascripts/jqueryScript.js"></script>
    <script type="text/javascript" src="javascripts/javascript.js"></script>
</body>

</html>
