/*#intro {
    background-image: url("miguel%20house%20sale.JPG");
}*/
html {
    background-color: black;
    color: red;
}
#intro {
        
        background: url("miguel%20house%20sale.JPG");
        background-repeat:no-repeat;
        background-position: top center;
        background-attachment: fixed;
        background-color: black;
        color: black;
        background-size: cover;
}

#dadpic {
        min-width: 150px;
}
#nav {
    /*display: none;*/
    text-align: center;
    color: red;
    width: 70%;
    background-color: burlywood;
}

#ironwoodlogo {
    width: 50%;
    
}
.nav {
    text-align: center;
}




.logo {
    
    background-color: transparent;
    text-align: center;
    
}



@media screen and (max-height: 1069px) {
    
}