div {
    
}
button {
    background-color: #438496;
    border: none;
}
body {
    background-color: #438496;
}
#all {
    background-color: #B37D4E;
}
#breeze {
    background-color: #438496;
}

#mePic {
    width: 40%;
    
}
#meInfo {
    text-align: center;
    
}
#nav {
    text-align: center;
}
button {
    width: 100%;
}
#skills {
    
}
#columns {
}
.fa {
    
}
@keyframes name {
    from { top:-500px}
    to { top:0px}
}
#name {
    position: relative;
    animation-name: name;
    animation-duration: 2s;
}

@keyframes desc {
    from {top: -500px;}
    to {top: 0px;}
}
#desc {
    position: relative;
    animation-name: desc;
    animation-duration: 6s;
}

#joke {
    text-align: center;
}
#joke:active {
    font-size: 200%;
}
#projects {
    overflow: auto;
}
@media screen and (max-width: 1200px) {
    button {
        width: 23%;
    }
    #nav {
        text-align: center;
    }
    #space {
        display: none;
    }
    #mePic {
        width: 25%;
    }
}